{
    "semi": true,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "arrowParens": "avoid",
    "printWidth": 80,
    "tailwindFunctions": ["clsx"],
    "plugins": ["prettier-plugin-tailwindcss"],
    "tailwindAttributes": [
        "className",
        "tw",
        "class",
        "parentClassName",
        "tooltipClassName",
        "iconClassName"
    ]
}
